*.class
*~
*.DS_Store

# Package Files #
*.ear
*.pyc
*.o

.idea
/target
/.settings
.classpath
.project
/bin
/build


src/main/python/anahata.egg-info/
src/main/python/build/
src/main/python/dist/




